.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.navbar .navbar-left {
    font-weight: bolder;
    font-size: 32px;
}

.navbar .navbar-right {
    font-weight: bold;
    font-size: 24px;
}

.navbar .nav-links {
    display: flex;
    list-style-type: none;
    gap: 6rem;
}

.navbar a {
    text-decoration: none;  
    color: #E2E8F0;
}

.navbar a:hover {
    color: #0EA5E9;
}